#!/usr/bin/env python
# SPDX-License-Identifier: Apache-2.0
"""Generate OpenAPI-derived TypeScript API types and Markdown reference docs."""

from __future__ import annotations

import argparse
import json
import os
import re
import sys
from pathlib import Path
from typing import Any

ROOT = Path(__file__).resolve().parents[1]
TYPE_TARGET = ROOT / "civiccast/apps/portal-operator/src/types/api.generated.ts"
DOC_TARGET = ROOT / "docs/API-REFERENCE.md"
OPENAPI_TARGET = ROOT / "docs/openapi.json"


def load_schema() -> dict[str, Any]:
    os.environ.setdefault("CIVICCAST_AUTH_ACK", "openapi-generator")
    os.environ.setdefault("CIVICCAST_ALLOW_EPHEMERAL_STORES", "1")
    sys.path.insert(0, str(ROOT))
    from civiccast.app import create_app

    return create_app().openapi()


def ts_quote(value: str) -> str:
    return "'" + value.replace("\\", "\\\\").replace("'", "\\'") + "'"


def schema_name(ref: str) -> str:
    return ref.rsplit("/", 1)[-1]


def ts_identifier(value: str) -> str:
    value = re.sub(r"[^A-Za-z0-9_$]", "_", value)
    if value[:1].isdigit():
        value = "_" + value
    return value or "Unknown"


def ts_key(value: str) -> str:
    if re.fullmatch(r"[A-Za-z_$][A-Za-z0-9_$]*", value):
        return value
    return ts_quote(value)


def ts_type(schema: dict[str, Any]) -> str:
    if "$ref" in schema:
        return ts_identifier(schema_name(schema["$ref"]))

    if "enum" in schema:
        parts = []
        for item in schema["enum"]:
            if isinstance(item, str):
                parts.append(ts_quote(item))
            elif item is None:
                parts.append("null")
            elif isinstance(item, bool):
                parts.append(str(item).lower())
            else:
                parts.append(str(item))
        return " | ".join(parts) if parts else "never"

    if "anyOf" in schema or "oneOf" in schema:
        key = "anyOf" if "anyOf" in schema else "oneOf"
        members = list(dict.fromkeys(ts_type(part) for part in schema[key]))
        return " | ".join(members) if members else "unknown"

    if "allOf" in schema:
        members = list(dict.fromkeys(ts_type(part) for part in schema["allOf"]))
        return " & ".join(members) if members else "unknown"

    kind = schema.get("type")
    if isinstance(kind, list):
        return " | ".join(dict.fromkeys(ts_type({"type": item}) for item in kind))
    if kind == "string":
        return "string"
    if kind in {"integer", "number"}:
        return "number"
    if kind == "boolean":
        return "boolean"
    if kind == "null":
        return "null"
    if kind == "array":
        return f"Array<{ts_type(schema.get('items', {}))}>"
    if kind == "object" or "properties" in schema:
        if "properties" in schema:
            return object_literal(schema)
        additional = schema.get("additionalProperties")
        if isinstance(additional, dict):
            return f"Record<string, {ts_type(additional)}>"
        return "Record<string, unknown>"
    return "unknown"


def object_literal(schema: dict[str, Any]) -> str:
    required = set(schema.get("required", []))
    lines = ["{"]
    for name, child in schema.get("properties", {}).items():
        marker = "" if name in required else "?"
        lines.append(f"  {ts_key(name)}{marker}: {ts_type(child)}")
    lines.append("}")
    return "\n".join(lines)


def render_type_schema(name: str, schema: dict[str, Any]) -> str:
    identifier = ts_identifier(name)
    if schema.get("type") == "object" or "properties" in schema:
        if not schema.get("properties") and schema.get("additionalProperties") is False:
            return f"export type {identifier} = Record<string, never>"
        body = object_literal(schema).splitlines()
        return f"export interface {identifier} {{\n" + "\n".join(body[1:-1]) + "\n}"
    return f"export type {identifier} = {ts_type(schema)}"


def render_types(openapi: dict[str, Any]) -> str:
    schemas = openapi.get("components", {}).get("schemas", {})
    output = [
        "// SPDX-License-Identifier: Apache-2.0",
        "// Generated by scripts/generate-openapi-artifacts.py. Do not edit by hand.",
        "",
    ]
    for name in sorted(schemas):
        output.append(render_type_schema(name, schemas[name]))
        output.append("")
    return "\n".join(output).rstrip() + "\n"


def schema_label(schema: dict[str, Any] | None) -> str:
    if not schema:
        return "none"
    if "$ref" in schema:
        return f"`{schema_name(schema['$ref'])}`"
    if schema.get("type") == "array" and isinstance(schema.get("items"), dict):
        inner = schema_label(schema["items"]).strip("`")
        return f"`Array<{inner}>`"
    return f"`{ts_type(schema).replace(chr(10), ' ')}`"


def request_schema(operation: dict[str, Any]) -> dict[str, Any] | None:
    body = operation.get("requestBody", {})
    content = body.get("content", {})
    for content_type in ("application/json", "multipart/form-data"):
        if content_type in content:
            return content[content_type].get("schema")
    return None


def response_schema(operation: dict[str, Any], status: str) -> dict[str, Any] | None:
    response = operation.get("responses", {}).get(status, {})
    return response.get("content", {}).get("application/json", {}).get("schema")


def response_description(operation: dict[str, Any], status: str) -> str | None:
    """Return the description for a response status, if any.

    Used so the API-REFERENCE can surface description-only error responses
    (e.g. ``422 Publish refused (e.g. agenda has zero items)`` on PATCH
    `/api/staff/agendas/{agenda_id}`) instead of collapsing them to ``none``."""
    response = operation.get("responses", {}).get(status, {})
    description = response.get("description")
    if isinstance(description, str) and description.strip():
        return description.strip()
    return None


def is_spurious_validation_422(operation: dict[str, Any], status: str) -> bool:
    """True when the 422 is FastAPI's auto-injected generic HTTPValidationError
    on a route that declares no pydantic body schema.

    Such 422s are a framework artifact (path-param validation surface only),
    not a documented contract; surfacing them in the API-REFERENCE makes
    operators chase a phantom validation surface (e.g. POST /import takes raw
    bytes; POST /sync-from-chapters has only path params).
    """
    if status != "422":
        return False
    schema = response_schema(operation, status)
    if not schema:
        return False
    ref = schema.get("$ref", "")
    if not ref.endswith("/HTTPValidationError"):
        return False
    if request_schema(operation):
        return False
    description = response_description(operation, status)
    return description == "Validation Error"


def response_label(operation: dict[str, Any], status: str) -> str:
    """Compose the API-REFERENCE response label for ``status``.

    Strategy: prefer a JSON body schema; otherwise surface a meaningful
    description so operators can see the contract (publish-gate 422s, 415
    unsupported media type, 503 not-ready, etc.). FastAPI's auto-injected
    generic ``Validation Error`` 422 — added on routes whose only validated
    inputs are path params (no pydantic body) — is dropped at the caller via
    ``is_spurious_validation_422``."""
    schema = response_schema(operation, status)
    if schema:
        return schema_label(schema)
    description = response_description(operation, status)
    if description:
        return description
    return "none"


def schema_description(schema: dict[str, Any]) -> str:
    description = schema.get("description")
    if isinstance(description, str) and description.strip():
        return f" -- {description.strip()}"
    return ""


def parameter_labels(operation: dict[str, Any]) -> list[str]:
    labels: list[str] = []
    for parameter in operation.get("parameters", []):
        name = parameter.get("name", "parameter")
        location = parameter.get("in", "parameter")
        marker = "required" if parameter.get("required") else "optional"
        description = parameter.get("description")
        suffix = f" -- {description}" if description else ""
        labels.append(
            f"`{name}` ({location}, {marker}): {schema_label(parameter.get('schema'))}{suffix}"
        )
    return labels


def render_reference(openapi: dict[str, Any]) -> str:
    title = openapi.get("info", {}).get("title", "CivicCast")
    version = openapi.get("info", {}).get("version", "unknown")
    lines = [
        "# CivicCast API Reference",
        "",
        "<!-- Generated by scripts/generate-openapi-artifacts.py. Do not edit by hand. -->",
        "",
        f"Source: `{title}` OpenAPI schema, version `{version}`.",
        "",
        (
            "Staff routes require CivicCast bearer-token authentication plus the configured "
            "network protection. Public routes are read-only unless documented otherwise."
        ),
        "",
        (
            "Signed-record endpoints return PDF/A-3B export metadata and bind audit "
            "fingerprints to server-verified operator identity."
        ),
        "",
        "## Getting Started With The API",
        "",
        "Most integrations use one public surface and one staff surface:",
        "",
        (
            "- Public routes, such as the resident portal, coming-up list, embed data, "
            "and subscribe confirmation endpoints, do not require a staff token unless "
            "an endpoint says otherwise."
        ),
        (
            "- Staff routes under `/api/staff/*` require `Authorization: Bearer <token>` "
            "and must stay behind loopback or an authenticating reverse proxy."
        ),
        "",
        "### 1. Complete First Setup Or Create A Staff Token",
        "",
        (
            "New operator stations should start with the local setup endpoint or the "
            "operator console Setup screen. It creates the station identity, first "
            "local admin, recovery kit, and one-time operator-console token:"
        ),
        "",
        "```bash",
        "curl -X POST http://127.0.0.1:8000/api/setup/storage \\",
        '  -H "Content-Type: application/json" \\',
        "  -d '{}'",
        "",
        "curl -X POST http://127.0.0.1:8000/api/setup/first-admin \\",
        '  -H "Content-Type: application/json" \\',
        "  -d @first-admin.json",
        "```",
        "",
        (
            "`/api/setup/*` routes are admitted by loopback alone -- the caller's "
            "own peer address must be `127.0.0.1`/`::1`. There is no handoff "
            "token to send. Do not expose setup routes through a public reverse "
            "proxy; a non-loopback caller gets CivicCast's own policy `403` "
            "(\"First setup can only be done from the station computer "
            "itself.\"), and a station that already completed first setup "
            "refuses a second attempt with `409` regardless of where the "
            "caller connects from."
        ),
        "",
        (
            "Automation and technical support can still create staff tokens from the "
            "deployment host after Postgres is configured and migrations have run:"
        ),
        "",
        "```bash",
        (
            "uv run civiccast token issue --operator-id clerk-1 "
            '--display-name "Clerk One" --scopes staff --json'
        ),
        "```",
        "",
        (
            "Store the printed bearer secret in the OS keyring or your secret manager. "
            "It is shown once. Do not paste it into issues, screenshots, chat, or "
            "release evidence."
        ),
        "",
        "### 2. Call A Staff Endpoint",
        "",
        "Use the token in the `Authorization` header:",
        "",
        "```bash",
        'curl -H "Authorization: Bearer $CIVICCAST_STAFF_TOKEN" \\',
        "  http://127.0.0.1:8000/api/staff/assets",
        "```",
        "",
        (
            "A missing, invalid, or revoked token returns `401`. A token that "
            "exists only in `CIVICCAST_STAFF_TOKENS` is accepted with Postgres only "
            "during an explicit recovery window when "
            "`CIVICCAST_STAFF_TOKENS_FALLBACK_WITH_DB=1` is set."
        ),
        "",
        "### 3. Read Operator Setup And Readiness",
        "",
        (
            "v1.3 implements the first-admin setup handoff, recovery-kit response, "
            "local admin sign-in/recovery, System Health report, safe-to-broadcast "
            "signal, resident preview target, and private rehearsal endpoint. Use "
            "these when building installer, support, or admin integrations:"
        ),
        "",
        "```bash",
        "curl http://127.0.0.1:8000/api/setup/station-state",
        "",
        "curl -X POST http://127.0.0.1:8000/api/setup/login \\",
        '  -H "Content-Type: application/json" \\',
        '  -d \'{"admin_username":"avery","admin_password":"..."}\'',
        "",
        'curl -H "Authorization: Bearer $CIVICCAST_STAFF_TOKEN" \\',
        "  http://127.0.0.1:8000/api/staff/installer/system-health",
        "",
        'curl -H "Authorization: Bearer $CIVICCAST_STAFF_TOKEN" \\',
        "  -X POST http://127.0.0.1:8000/api/staff/installer/rehearsal",
        "```",
        "",
        (
            "For safety, configured cameras, recording targets, and resident URLs do "
            "not turn the safe-to-broadcast report green by themselves. The report "
            "stays yellow until live preflight, write-probe, and resident-preview "
            "proof is attached through the readiness request."
        ),
        "",
        "### 4. Publish A Recording",
        "",
        "The normal publish integration path is:",
        "",
        "1. Upload or package a recording so it appears in the asset library.",
        "2. Confirm the asset has a portal manifest URL.",
        (
            "3. Approve the selected publish surfaces from the staff publish endpoint "
            "or operator console."
        ),
        "4. Poll the publish status and surface-specific proof URLs or hashes.",
        "5. Open the public portal URL and verify resident playback.",
        "",
        "### 5. Subscribe A Resident",
        "",
        (
            "Public subscribe endpoints are rate-limited. For email subscriptions, "
            "submit the resident email, deliver the confirmation link through the "
            "configured mailer, and confirm the signed token from the public route. "
            "Webhook receivers should verify CivicCast HMAC signature headers before "
            "trusting a payload."
        ),
        "",
        "### 6. Handle Errors",
        "",
        (
            "Treat `401` as an auth or token lifecycle issue, `403` as a policy or "
            "scope issue, `404` as a missing public/staff resource, `409` as a state "
            "conflict, and `422` as invalid input. Treat `429` according to the "
            "operation contract: on `/api/staff/*`, the observed peer exceeded the "
            "failed-authentication budget, so wait for `Retry-After`; valid staff "
            "tokens remain accepted. Server `5xx` responses are bugs or infrastructure failures "
            "and should include logs from the API process."
        ),
        "",
        "## Endpoints",
        "",
    ]

    for path, path_item in sorted(openapi.get("paths", {}).items()):
        for method, operation in sorted(path_item.items()):
            if method.lower() not in {"delete", "get", "patch", "post", "put"}:
                continue
            summary = operation.get("summary") or operation.get("operationId") or "Untitled"
            access = (
                "staff bearer token required; keep loopback or reverse-proxy network protection enabled"
                if path.startswith("/api/staff")
                else "public"
            )
            required_roles = operation.get("x-required-roles")
            if required_roles:
                roles = " or ".join(str(role) for role in required_roles)
                access = f"{access}; requires one of these CivicCast roles: {roles}"
            responses = []
            for status in sorted(operation.get("responses", {})):
                # Skip FastAPI's auto-injected generic 422 on routes with no
                # body schema — it's a framework artifact, not a contract.
                if is_spurious_validation_422(operation, status):
                    continue
                responses.append(f"{status} {response_label(operation, status)}")
            parameters = parameter_labels(operation)
            lines.extend(
                [
                    f"### `{method.upper()} {path}`",
                    "",
                    f"{summary}.",
                    "",
                    f"- Access: {access}",
                    f"- Parameters: {'; '.join(parameters) if parameters else 'none'}",
                    f"- Request body: {schema_label(request_schema(operation))}",
                    f"- Responses: {'; '.join(responses) if responses else 'none'}",
                    "",
                ]
            )

    lines.extend(["## Schemas", ""])
    for name, schema in sorted(openapi.get("components", {}).get("schemas", {}).items()):
        lines.append(f"### `{name}`")
        lines.append("")
        properties = schema.get("properties", {})
        required = set(schema.get("required", []))
        if not properties:
            lines.append(f"- Type: {schema_label(schema)}")
            lines.append("")
            continue
        for prop, prop_schema in sorted(properties.items()):
            marker = "required" if prop in required else "optional"
            lines.append(
                f"- `{prop}` ({marker}): {schema_label(prop_schema)}"
                f"{schema_description(prop_schema)}"
            )
        lines.append("")

    return "\n".join(lines).rstrip() + "\n"


def write_or_check(path: Path, content: str, check: bool) -> bool:
    if check:
        actual = path.read_text(encoding="utf-8") if path.exists() else None
        if actual != content:
            print(
                f"Generated artifact is stale or missing: {path.relative_to(ROOT)}", file=sys.stderr
            )
            return False
        return True
    path.parent.mkdir(parents=True, exist_ok=True)
    path.write_text(content, encoding="utf-8", newline="\n")
    print(f"Wrote {path.relative_to(ROOT)}")
    return True


def main() -> int:
    parser = argparse.ArgumentParser()
    parser.add_argument("--check", action="store_true", help="fail if artifacts are stale")
    args = parser.parse_args()

    schema = load_schema()
    ok = True
    ok &= write_or_check(OPENAPI_TARGET, json.dumps(schema, indent=2) + "\n", args.check)
    ok &= write_or_check(TYPE_TARGET, render_types(schema), args.check)
    ok &= write_or_check(DOC_TARGET, render_reference(schema), args.check)
    return 0 if ok else 1


if __name__ == "__main__":
    raise SystemExit(main())
